{% extends 'base.html' %}

{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
{% block title %}
{% endblock %}
{% block content %}
<div>
{% if is_active %}
    Started!
{% else %}
    Not started yet
{% endif %}

</div>
<form method="post" class="form">
  {% csrf_token %}
  {% buttons %}
    {% if is_active %}
    <button type="submit" name="mode" value="sent" class="btn btn-primary">
      Sent
    </button>
    {% else %} 
    <button type="submit" name="mode" value="leave" class="btn btn-primary">
      Leave ADM
    </button>

    {% endif %}
  {% endbuttons %}
</form>
{% endblock %}
